
@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('../font/AvenirNextLT/AvenirNextLTPro-Regular.woff2') format('woff2'),
    url('../font/AvenirNextLT/AvenirNextLTPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src:url('../font/AvenirNextLT/AvenirNextLTPro-Medium.woff2') format('woff2'),
    url('../font/AvenirNextLT/AvenirNextLTPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src:url('../font/AvenirNextLT/AvenirNextLTPro-Demi.woff2') format('woff2'),
    url('../font/AvenirNextLT/AvenirNextLTPro-Demi.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src:url('../font/AvenirNextLT/AvenirNextLTPro-Bold.woff2') format('woff2'),
    url('../font/AvenirNextLT/AvenirNextLTPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}




