.header-top-cnt{
    background-color: $orange;
    padding: 10px 30px 0 30px ;
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    @include text-align();
    &.blue{
        background-color: $blue;
            }
    p{
        color: $white;
        text-transform: uppercase;
        @include fontvariables($w:500);
        @include mq(mobile){
            font-size: 12px;
        }
        @include mq(vsmall){
            font-size: 10px;
        }
    }
    @include mq(mobile){
        min-height: 26px;
    }
}
header{
    top: 25px;
    background-color:transparent;
    position: fixed;
    width: 100%;
    z-index: 99;
    padding: 0px 105px;
    @include tranistions-;
    @include mq(xxxxl){
        padding: 0px 40px;
    }
    @include mq(xxl){
        padding: 0px 30px;
    }
    @include mq(tablet){
        padding-right: 0;
    }
    @include mq(mobile){
        padding: 0px 0px 0 22px;
    }
    &.header-color{
        background-color: $light-white;
    }
    &.active{
        background-color: $blue;
    }
    .nav-item{
        cursor: pointer;
        @include psudeo($top:unset , $bottom:15px , $right:unset){
            width: 0%;
            height: 2px;
            background-color: $orange;
            @include tranistions-;
            @include mq(tablet){
                display: none;
            }
        }
        &:hover{
            &::after{
                width: 100%;
            }
        }
        &.active{
            &::after{
                width: 100%;
            }
            
        }

    }

    .header-link{
        @include display-f($jc:unset);
        @include font-size(15px);
        color: $white ;
        text-transform: uppercase;
        white-space: nowrap;
        @include tranistions-;
        &:hover{
            color: $orange;
            @include mq(tablet){
                color: $white;
            }
        }
        @include mq(xxl){
            font-size: 12px;
        }
        @include mq(tablet){
            font-size: 21px;
            @include flexw(100%);
            justify-content: center;

        }
        img{
            @include fit-image($coverd:contain);
            @include flexw(13px);
            margin-right: 7px;
            @include mq(tablet){
                @include flexw(15px);
            }
        }
        &.color-diff{
            color: $border-color;
        }
            }
            .navbar-nav{
                li{
                    padding: 24px 0;
                    margin-right: 46px;
                    &:nth-child(2){
                        &:hover{
                            .dropdown-menu{
                                display: block;
                            }
                        }
                    }
                    @include mq(xxxxl){
                        margin-right: 15px;
                    }
                    @include mq(laptop){
                        padding: 17px 0;
                        margin-right: 10px;
                    }
                    @include mq(tablet){
                        margin-right: 0;
                        padding: 60px 0;
                        @include display-f;
                        width: 100%;
                        &:first-child{
                            background-color: $light-orange;
                        }
                        &:nth-child(2){
                            background-color: $light-orange-7;
                        }
                        &:nth-child(3){
                            background-color: $light-orange-4;
                        }
                        &:nth-child(4){
                            background-color: $light-orange-5;
                        }
                        &:nth-child(5){
                            background-color: $light-orange-6;
                        }
                    }
                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
            .btn-secondary{
                background-color: transparent;
                border: 0;
                padding: 0;
                text-transform: uppercase;
                &.color-diff{
                    color: $border-color;
                }
                @include display-f($jc:unset);
                &:hover{
                    color: $orange;
                    @include mq(tablet){
                        color: $white;
                    }
                }
                @include mq(xxl){
                    font-size: 12px;
                }
                @include mq(tablet){
                    font-size: 21px;
                }
                img{
                    @include fit-image($coverd:contain);
                    max-width: 12px;
                    margin-right: 7px;
                    @include mq(tablet){
                        width: 10px;
                        max-width: 100%;
                    }
                }
            }
            .btn-secondary:hover,
            .btn-secondary:active:focus,
            .btn-check:active+.btn-secondary, .btn-check:checked+.btn-secondary, .btn-secondary.active, .btn-secondary:active, .show>.btn-secondary.dropdown-toggle,
            .btn-check:focus+.btn-secondary, .btn-secondary:focus {
                background-color: transparent;
                border-color: transparent;
                box-shadow: unset;
            }
            .dropdown-toggle::after{
                display: none;
            }
            .dropdown{
                .btn-secondary {
                    @include mq(tablet){
                        margin:  0 auto;
                    }
                }
                .dropdown-menu{
                    min-width: unset;
                    width: 300px;
                    background-color: $blue;
                    padding-top: 0;
                    padding-bottom: 0;
                    top: 44px;
                    @include mq(tablet){
                        background-color: transparent;
                        border: 0;
                    }
                    li{
                        margin-right: 0;
                        padding: 8px;
                        border-bottom: 1px solid $border-color;
                        @include mq(tablet){
                            @include text-align;
                            border-bottom: 0;
                            background-color: $light-orange-7;
                            border: 0;
                        }
                        a{
                            color: $white;
                            &.dropdown-item{
                                &:hover,
                                .dropdown-item:focus{
                                    background-color: transparent;
                                    color: $orange;
                                    @include mq(tablet){
                                        color: $white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .logo{
                max-width: 146px;
                margin-left: 25px;
                padding: 0;
                margin-right: 0;
                @include mq(laptop){
                    max-width: 146px;
                }
                @include mq(tablet){
                    margin-right: 0;
                    margin-left: 0;
                }
                img{
                    @include fit-image($coverd:contain);
                }
            }
            .divider{
                margin: 0;
                height: 2px;
                background-color: $white;
                opacity: 1;
                position: absolute;
                left: 0;
                bottom: 0px;
                width: 90%;
                @include mq(tablet){
                    width: 100%;
                }
            }
            .engage{
                @include mq(tablet){
                    display: none;
                }
            }
            .navbar{
                @include mq(tablet){
                    flex-direction: row-reverse;
                }
            }
}
 