$white:#fff;
$black:#000000;
$orange:#E98300;
$blue:#589199;
$grey:#949494;
$border-color:#5E6A71;
$orange-10:rgba(233, 131, 0,10%);
$light-orange:#E95A1A;
$light-orange-2:#EA621C;
$light-orange-3:#EB6A1E;
$light-orange-4:#E98324;
$light-orange-5:#EC9529;
$light-orange-6:#EEA13F;
$blue-40:rgba(88, 145, 153 , 40%);
$shade:rgba(24, 55, 56, 29%);
$sec-color:#EDEDED;
$dark-green:#183738;
$popup-sm-color:#354952;
$light-white:#F2F2F2;
$light-white2:#F5F5F5;
$light-orange-7:#E96D23;
$light-orange-8:#DB8631;
$light-orange-9:#E8B572;
$light-blue:#658F97;
$light-blue1:#8AAAB0;
$violet:#C966CD;
$brown:#CA411D;
$index-cnt-color:#4A4A4A;
$light-yellow:#A49F79;