$white: #ffffff;
$balck: #202020;
$rose: #A02695;
$black69: rgba(32, 32, 32, 69%);
$grey: #F5F5F5;
$light-grey: #676262;
$blue: #01A9E9;
$gray-01: #A5A5A5;
$background-gray: #F9F9F9;
$dashboard-color1: #60576B;
$dashboard-color2: #F9EFF8;
$gray-02: #A0A0A0;
$black-01: #000000;
$light-rose: #F6EEFF;
$light-blue: #DFEDF2;
$light-rose-01:#FFCFF2;
$light-yellow:#FFEBCC;
$yellow:#FFAB2D;
$dark-rose:#E328AF;