$white:rgb(255,255,255);
$black:#000000;
$green:rgb(38, 163, 69);
$grey:#606060;
$light-grey:#959595;
$light-green:#E1F1E5;
$lighter-grey:#D6D3D3;
$grey2:#7C7C7C;
$yellow:#FFF472;
$light-white:#F7F7F7;
$whites:rgba(255,255,255,22%);
$red:#CE2E2E;
$dark-yellow:#FFAF19;
$lights-grey:#707070;
$light2-grey:rgba(149, 149, 149,23%);
$dark-red:#f50808;
$h-color:#6dd186;