footer{
    background-color: $darkblue;
    padding: 35px 0 36px 0;
    .footer-wrap{
        @include display-f($jc:space-between);
        @include mq(tablet){
            @include flex-direction(column);
            justify-content: center
        }
        .footer-left{
            @include display-f($jc:left);
            width: 100%;
            @include mq(mobile){
                justify-content: space-between;
            }
            li{
                @include rfs(72px, padding-right);
                &:last-child{
                    padding-right: 0;
                }
                a{
                    @include tranistions-;
                    &:hover{
                        color: $white;
                    }
                }
            }
        }
        .footer-right{
            @include mq(tablet){
                padding-top: 15px;
            }
        }
    }
}