$white:#fff;
$black:#040404;
$green:#37984B;
$body-color:#F2F2F2;    
$light-green:#D6EADA;
$dark-green:#273729;
$border-color:#707070;
$dark-green-50:rgba(39, 55, 41,.5);
$green-50:rgba(55, 152, 74,50%);
$table-cnt-color:#788179;
$table-border-color:rgba(39, 55, 41,10%);
$blue:#4078F5;
$yellow:#E0B452;
$red:#D52C1E;
$green-20:rgba(55, 152, 74,20%);
$red-20:rgba(213, 44, 30,20%);
$dark-green-75:rgba(39, 55, 41,75%);
$pagination-color:#555555;
$dark-green-10:rgba(39, 55, 41,10%);