$white:#fff;
$black:#000000;
$orange:#FF5A11;
$light-gray:#F9FBFE;
$light-color:#B4C2C9;
$grey:#656565;
$border-color:#E0E0E0;
$border-bottom:#F3F5F7;
$violet:#5903E3;
$border-bottom2:#EDEEEF;
$greys:#4a3e3e;
$light-grays:#3a2b2b;