.gallary{
    @include rfs(80px 0 , padding);
    .gallary-img2{
        img{
            @include fit-image();
        }
    }
    .gallaryimg-sm{
        height: 351px;
        margin-bottom: 20px;
        @include mq(laptop){
            height: 271px
        }
        @include mq(tablet){
            height: 189px;
        }
        @include mq(phablet){
            margin-bottom: 0;
        }
        &.sm-height{
            @include mq(tablet){
                height: 201px;
            }
        }
    }
    .gallaryimg-sm2{
        height: 400px;
        @include mq(laptop){
            height: 300px
        }
        @include mq(tablet){
            height: 177px;
        }
    }
    .row{
        figure{
            @include mq(phablet){
                margin-bottom: 20px;
            }
        }
    }
    
}
.gallary-mid-sec{
    @include rfs(144px 0 , padding);
    @include backgoundformat($image:url('../image/background.png'));
    h2{
        color: $white;
    }
    p{
    @include rfs(30px , padding-top);
    }
}
