.banner{
    @include rfs(154px 0 80px 0 , padding);
    @include display-f();
    background-color: $black;
    .row{
        position: relative;
        z-index: 6;
        &.relative-none{
            position: unset;
            @include rfs(30px 0, padding);
            &.method-padding{
                @include rfs(130px 0 , padding);
                @include mq(xxxxl){
                    @include rfs(45px 0 , padding);
                }
                @include mq(xxl){
                    padding: 0;
                }
            }
        }
        align-items: center;
        @include rfs(130px 0 , padding);
        @include mq(phablet){
            &.m-0{
                flex-direction: column-reverse;
            }
            
        }
        & .banner-left{
            p{
                @include rfs(28px 0 , padding)
            }
            position: relative;
            z-index: 2;
            & .get-contact{
                margin-top: 30px;
            }
            @include mq(phablet){
                padding-top: 40px;
            }
        }
        & .banner-right{
            position: relative;
            z-index: 1;
            min-height: 480px;
            @include mq(tablet){
                min-height: 347px;
            }
            @include mq(phablet){
                min-height: auto;
            }
            &.banner-right2{
                position: unset;
            }
        }
        & .banner-bg{
            position: absolute;
            @include rfs(922px , width);
            @include rfs(840px , height);
            right: -32%;
            z-index: -3;
            top: -48%;
            @include mq(xxxxl){
                right: 2%;
                top: -7%;
            }
            @include mq(tablet){
                top: 0;
            }
            @include mq(phablet){
                position: relative;
                width: 100%;
                height: 100%
            }
            img{
                @include fit-image();
            }
            &.banner-bg2{
                @include rfs(1072px , width);
                @include rfs(840px , height);
                right:0;
                top: unset;
                bottom: 0;
                @include mq(laptop){
                    bottom: unset
                }
                @include mq(tablet){
                    position: relative;
                    width: auto;
                    height: auto;
                }
                &.banner-bg3{
                    @include rfs(970px , width);
                    @include rfs(687px , height);
                    top: 50%;
                    @include transformx($x:0 , $y:-50%);
                    @include mq(tablet){
                        position: absolute  ;
                    }

                }
            }
        }
        & .cards-blk{
                @include border-radius(20px);
            border: 2px solid $rose;
                padding: 42px 14px 65px 14px;
                    @include mq(xxl){
                        padding: 35px 14px 40px 14px;
                    }
                & .videoimg{
                    max-width: 44px;
                    padding-bottom: 26px;
                    @include mq(laptop){
                        max-width: 32px;
                        padding-bottom: 23px;
                    }
                    img{
                        @include fit-image();
                    }
                }
                p{
                    @include rfs(24px , padding-top);
                }
        }
        & .sign-blk{
            position: relative;
            z-index: 1;
            min-height: 326px;
            @include mq(tablet){
                min-height: auto;
            }
            & .signimg{
                position: absolute;
                @include rfs(386px , width);
                @include rfs(226px , height);
                top: 44px;
                right: -52%;
                z-index: -1;
                @include mq(xxxxl){
                    right: -7%;
                }
                @include mq(tablet){
                    right: unset;
                    left: 50%;
                    top: 50%;
                    @include transformx($x:-50% , $y:-50%);
                }
                @include mq(phablet){
                    position: relative;
                    margin: 0 auto;
                    width: 80%;
                    height: 80%;
                    top: unset;
                    left: unset;
                    transform: unset                ;
                    -webkit-transform: unset                ;
                    -moz-transform: unset                ;
                    -ms-transform: unset                ;
                    -o-transform: unset                ;

}
                img{
                    @include fit-image();
                }
            }
        }
    }
}
.hollywood{
    @include rfs(80px 0 , padding);
    & .site-head{
        @include font-size(24px);
        display: block;
        @include fontvariables($w:700);
        color: $o-black;
        padding-bottom: 15px;
    }
    & .learnmore-blk{
        p{
            padding-top: 30px;
            border-top: 1px solid $o-black;
            color: $o-black;
            padding-bottom: 30px;
            margin-top: 15px;
        }
    }
    & .hollywood-list{
        @include rfs(80px , padding-top);
        & .list-img{
            img{
                @include fit-image();
            }
        }
        & .exceptinal-blk{
            background-color: $o-black;
            display: block;
            max-width: 670px;
            padding: 20px 35px;
            @include border-radius(0 91px 0 0 );
            margin-top: -10%;
            position: relative;
            z-index: 1;
            @include mq(xxxxl){
                margin-top: -9.5%;
            }
            @include mq(laptop){
                padding: 11px 35px;
                margin-top: -8.5%;
                max-width: 80%;
            }
            @include mq(tablet){
                margin-top: -48.87px;
                padding: 11px 30px;
                max-width: 86%;
            }
            @include mq(phablet){
                margin-top: -46.87px;
            }
            @include mq(mobile){
                margin-top: -45.87px;
                max-width: 90%;
            }
            @include mq(vsmall){
                margin-top: -43.87px;
                max-width: 90%;
            }
        }
        & .masterclass{
            height: 305px;
            @include mq(xxl){
                height: 261px;
            }
            @include mq(laptop){
                height: 161px;
            }
            @include mq(tablet){
                height: 158px;
            }
            img{
                @include fit-image();
            }
        }
        & .list-img{
            @include border-radius(0 0 0px 136px);
        }
        & .support-blk{
            padding: 30px 27px 36px 35px;
            @include mq(xxxxl){
                padding: 30px 27px 26px 35px;
                margin-top: -.5%;
            }
            @include mq(tablet){
                padding: 14px;
            }
            p{
                color: $o-black;
                @include mq(tablet){
                    line-height: 1;
                }
                @include mq(phablet){
                    line-height: 1.8;
                }
            }
        }
        & .col-lg-7{
            width: 62%;
            background-color: $light-grey;
            @include mq(phablet){
                width: 100%;
            }
        } 
        & .col-lg-5{
            width: 38%;
            @include mq(phablet){
                width: 50%;
                margin:  0 auto;
            }
        } 
        & .row:nth-child(2){
            flex-direction: row-reverse;
            & .exceptinal-blk{
                margin-left: auto;
                @include border-radius(91px 0 0px 0 );
                padding-right: 54px;
                @include text-align(right);
                @include mq(tablet){
                    padding-right: 30px;
                }
                
            }
            & .list-img{
                @include border-radius(0 0 136px 0 );
            }
        }
    }
}
.know{
    @include text-align();
    @include rfs(130px 0 , padding);
    @include backgoundformat($image:url('../image/knowbg.png'));
    h2{
        color: $white;
    }
    p{
        @include rfs(30px 0 40px 0 , padding);
        
    }
    & .know-wrap{
        @include rfs(85% , max-width);
        margin: 0 auto;
        @include mq(tablet){
            max-width: 100%
        }
    }
}
.action{
    @include rfs(80px 0 , padding);
        .row{
            @include mq(phablet){
                margin: 0 10%;
            }
            @include mq(mobile){
                margin: 0 5%;
            }
            @include mq(vsmall){
                margin: 0;
            }
    }
    & .action-img{
        img{
            @include fit-image();
        }
    }
    
    & .courses-blk{
        background-color: rgba(0,0,0, 75%);
        margin-top: -23%;
        padding: 20px 130px 20px 20px; 
        position: relative;
        z-index: 1;
        @include mq(xxl){
            margin-top: -25%;
            padding: 20px 88px 20px 20px;
        }
        @include mq(laptop){
            margin-top: -29%;
            padding: 20px 31px 20px 20px;
        }
        @include mq(tablet){
            margin-top: -82px;
            padding: 20px 57px 20px 20px;
        }
        @include mq(phablet){
            margin-top: -51px;
            padding: 15px;
        }
        @include mq(vsmall){
            margin-top: -67px;
        }
    }
    & .unseen-blk{
        background-color: $light-grey;
        padding: 20px 10px 50px 20px;
        p{
            color: $o-black;
        }
    }
}
.video{
    @include rfs(75px 0 , padding);
    background-color: $light-grey;
    .video-blk{
        position: relative;
        z-index: 1;
        margin-top: 40px;
        .cover-bg ,
        .play{
            position: absolute;
            img{
                @include fit-image();
            }
        }
        & .play{
                @include rfs(182px , width);
                @include rfs(182px , height);
                padding: 0;
                left: 50%;
                top: 50%;
                @include transformx($x:-50% , $y:-50%);
                background-color: transparent;
                border: 0;
                display: block;
                z-index: 3;
        }
        & .cover-bg{
            width: 100%;
            height: 100%;
            @include transformx($x:-50% , $y:-50%);
            left: 50%;
            top: 50%;
            z-index: 2;
        }
        video{
            width: 100%;
            min-height: 728px;
            @include mq(laptop){
                min-height: 500px;
            }
            @include mq(tablet){
                min-height: 389px;
            }
            @include mq(vsmall){
                min-height: 243px;
            }
        }
    }
}
.festival{
    padding-bottom: 30px;
    h2{
        @include rfs(75px , padding-top);
    }
    .festival-blk{
        @include border-radius(20px);
        @include rfs(30px , padding);
        background-color: $light-grey;
    }
    & .card-head{
        color: $o-black;
        padding: 28px 0 45px 0;
    }
    .read-more{
        display: block;
        @include font-size(18px);
        @include fontvariables($w:400);
        color: $o-black; 
        @include psudeo(){
            top: 50%;
            left: unset;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            width: 73px;
            height: 1px;
            background-color: $o-black;
            right: 48%;
            @include mq(vsmall){
                width: 52px;
                right: 41%;
                top: 61%;
            }
}
    }
}
.latest{
    @include rfs(60px 0 , padding);
    background-color: $o-black;
    
    .latest-img{
        width: 100%;
        padding-bottom: 30px;
        img{
            @include fit-image();
        }
    }
    & .latest-header{
        margin-top: -17%;
        max-width: 610px;
        padding-left: 31px;
        @include mq(xxxxl){
            margin-top: -15%;
        }
        @include mq(laptop){
            margin-top: -18%;
        }
        @include mq(tablet){
            margin-top: -144px;
        }
        @include mq(mobile){
            margin-top: -133px;
            padding-left: 12px;
        }
        // @include mq(vsmall){
        //     margin-top: -130px;
           
        // }
        h2{
            color: $white;
            span{
                display: block;
            }
        }
    }
    & .row{
        padding-top: 55px;
    }
    & .latest-cnt{
        @include rfs(30px , padding);
        background-color: $light-black;
        position: relative;
        z-index: 1;
        @include border-radius(20px);
        & .card-head{
            @include rfs(30px 0 , padding);
        }
        & .number-blk{
            border: 1px solid $light-grey;
            display: inline-block;
            padding: 2px 10px;
            @include border-radius(10px);
            & .number{
                @include fontvariables($w:700 , $family:'Gilroy');
                @include font-size(42px);
            }
        }
        & .readmore{
            position: unset;
            display: inline-block;
            width: 100%;
            &::after{
                display: block;
                left:0;
                top:0;
                background: transparent;
                z-index:-1;
                @include tranistions-;
                transform: unset;
                @include border-radius(20px);
                        }
            &:hover{
                &::after{
                    background-color: $rose;
                }
            }
        }
    }
}
.student{
    @include rfs(75px 0 , padding);
    .platforms{
        img{
            @include fit-image();
        }
    }
    & .row{
        @include rfs(70px 0 , padding);
        & .col{
            @include display-f();
        }
    }
}
