.highlight{
    @include rfs(65px , padding-top);
    @include rfs(40px , padding-bottom);
    .row{
        @include rfs(80px , padding-top);
        @include rfs(-40px , margin-right);
        @include rfs(-40px , margin-left);
        & .col-lg-6{
            @include rfs(60px , margin-bottom);
            @include rfs(40px , padding-left);
            @include rfs(40px , padding-right);
            &:last-child{
                margin-bottom: 0;
            }
            &:nth-last-child(2){
                margin-bottom: 0;
                @include mq(phablet){
                    margin-bottom: 30px;
                }
            }
        }
        & .highlight-cnt{
            @include display-f($align:flex-start);
            margin: 0 -20px;
            @include mq(tablet){
                margin: 0 10px;
            }
            @include mq(mobile){
                flex-wrap: wrap;
                margin: 0;
                @include text-align();
            }
            .highlight-cnt-left{
                @include flexw(25%);
                padding: 0 20px;
                @include mq(tablet){
                    padding: 0 10px;
                    @include flexw(30%);
                }
                @include mq(mobile){
                    @include flexw(25%);
                    padding: 0;
                }
                @include mq(vsmall){
                    @include flexw(36%);
                    
                }
                .highlight-img{
                    margin: 3px;
                    @include mq(tablet){
                        margin: 0;
                    }
                    @include psudeo(){
                        left: 50%;
                        top: 50%;
                        @include transformx(-50% , -50%);
                        width: 100% + 10%;
                        height: 100% +10%;
                        background-color: $rose;
                        @include border-radius(50%);
                    }
                    img{
                        @include fit-image();
                    }
                }
                .star{
                    @include smcontainer(90px);
                    img{
                        @include fit-image($coverd:contain);                    }
                }
                & .highllight-name{
                    @include font-size(19px);
                    color: $o-black;
                    @include fontvariables($w:700 , $family:'Gilroy');
                    @include text-align();
                    display: block;
                    padding-top: 15px;
                    padding-bottom: 7px;
                }
            }
            .highlight-cnt-right{
                @include flexw(75%);
                padding: 0 20px;
                @include rfs(0 20px , padding);
                @include mq(tablet){
                    padding: 0 10px;
                    @include flexw(70%);
                }
                @include mq(mobile){
                    @include flexw(100%);
                    padding: 0;
                }
            }
            p{
                color: $o-black;
                @include mq(mobile){
                    &:first-child{
                        padding-top: 20px;
                    }
                }
            }
            p+p{
                padding-top: 20px;
            }
        }
    }
}    
.highlight2{
    background-color: $light-grey;
    @include rfs(40px , padding-top);
    @include rfs(80px , padding-bottom);
    .row{
        padding-top: 0;
    }
}