body{
    @include fontvariables( $w:400 );
    @include font-size(18px);
    color: $white;
    &.fixed{
        position: fixed;
    }
}

.container{
        @include smcontainer(1320px);
    @include mq(xxxxl){
        @include rfs (0 50px , padding);
    }
    
    
}
h1{
    @include fontvariables( $w:700 , $family:'Gilroy');
    color: $white;
    @include font-size(65px);
}
h2{
    @include fontvariables( $w:700 , $family:'Gilroy');
    color: $o-black;
    @include font-size(45px);
}
h3{
    @include fontvariables( $w:700 , $family:'Gilroy');
    color: $white;
    @include font-size(36px);
}
p{
    line-height: 1.8;
}
.collapse:not(.show) {
    display:block;
}
.collapse{
    @include mq(tablet){
        background-color: $black;
        position: fixed;
        width: 100%;
        left: -100%;
        top: 0;
        padding: 15% 10%;
        height: 100vh;
        @include tranistions-;
        overflow: auto;
    }
    @include mq(vsmall){
        padding: 24% 10%;
    }
    &.active{
        left: 0;
    }
}
.get-contact{
    display: block;
    max-width: 346px;
    background-color: $rose;
    text-transform: uppercase;
    @include mq(laptop){
        max-width: 275px;
    }
    @include font-size(24px);
    @include fontvariables($w:600);
    @include rfs(19px 50px ,padding);
    @include border-radius(34px);
    color: $white;
    @include text-align();
    overflow: hidden;
    @include tranistions-;
    @include psudeo(){
        display: block;
        height: 100%;
        width: 100%;
        transform: skew(90deg) translate(-50%, -50%);
        inset: 50%;
        left: 25%;
        top: 33px;
        bottom:unset;
        right: unset;
        transition: .5s ease-out;
        background-color: $white;
        @include mq(xxl){
            top: 29px;
        }
        @include mq(laptop){
            top: 28px;
        }
        @include mq(tablet){
            top: 26px;
        }
        @include mq(mobile){
            top: 24.8px;
        }
    }
    @include psudeo($loc:before){
        display: block;
        height: 100%;
        width: 100%;
        inset: 50%;
        top: -50%;
        left: -25%;
        transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
        bottom:unset;
        right: unset;
        transition: .5s ease-out;
        background-color:$white;
        @include mq(laptop){
            top: -49%;
        }
        @include mq(mobile){
            top: -50%;
        }
    }
    &:hover{
        color: $rose;
        &::before{
            transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
        }
        &::after{
            transform: skew(45deg) translate(-50%, -50%);
        }
    }
    &.submits{
        max-width: 163px;
        background-color: $rose;
        color: $white;
        @include font-size(18px);
        @include fontvariables($w:700 , $family:'Gilroy');
        @include border-radius(33px);
        border: 1px solid $border-color;
        &:hover{
            color: $rose;
            &::after{
                top:30px;
            }
        }
    }
    &.learn-more{
        background-color: transparent;
        border: 1px solid $rose;
        color: $o-black;
        text-transform: lowercase;
        max-width: 248px;
        @include rfs(13px 20px , padding);
        @include font-size(17px);
        &::after{
            background-color:$rose;
            top: 23px;
            height: 105%;
        }
        &::before{
            background-color:$rose;
            height: 105%;
        }
        &:hover{
            color: $white ;
        }
        
    }
    &.knowmore{
        max-width: 282px;
        margin: 0 auto;
        border-color: $white;
        color: $white;
        background-color: transparent;
        border: 1px solid $white;
        &:hover{
            color: $rose;
        }
        &.readmore{
            border-color: $rose;
            max-width: 168px;
            @include font-size(16px);
            margin-left: 0;
            padding: 10px;
            &::after{
                display: none;
            }
            &::before{
                display: none;
            }
            &:hover{
                background-color: $o-black;
                color: $white;
                border-color: transparent;

            }
        }
        &.viewmore{
            border: 2px solid $rose;
            margin-left: 0;
            @include rfs(80px , margin-top);
            color: $o-black;
            @include font-size(18px);
            font-weight: 600;
            @include mq(mobile){
                margin-left: auto;
                margin-right: auto;
            }
            &:hover{
                color: $white;
                &::after{
                    background-color: $rose;
                    top: 30px;
                    @include mq(xxxxl){
                        top: 28px;
                    }
                    @include mq(xxl){
                        top: 27px;
                        height: 104%;
                    }
                    @include mq(laptop){
                        top: 26px;
                    }
                    @include mq(phablet){
                        top: 25px;
                    }
                    @include mq(mobile){
                        top: 24px;
                    }
                }
                &::before{
                    background-color: $rose;
                    @include mq(laptop){
                        top: -50%;
                        height: 99%;
                    }
                }
            }
        }
    }
}
.card-head{
    display: block;
    @include fontvariables($w:700 , $family:'Gilroy');
    @include font-size(24px);
}
.sub-head{
    @extend .card-head;
    @include font-size(18px);
    color: $o-black;
}
.gallary-img-h1{
    height: 369px;
    @include mq(laptop){
        height: 300px
    }
    
    
}
.gallary-img-h2{
    height: 400px;
    &.h3{
        height: 395px;
        @include mq(laptop){
            height: 290px
        }
        @include mq(tablet){
            height: 215px;
        }
    }
    @include mq(laptop){
        height: 300px
    }
    @include mq(tablet){
        height: 213px;
    }
}
.p1{
    margin-bottom: 20px;
    @include mq(phablet){
        margin-bottom: 0;
    }
}
.h4{
    height: 1090px;
    display: block;
    @include mq(laptop){
        height: 853px;
    }
    @include mq(tablet){
        height: 606px;
    }
    @include mq(phablet){
        height: 400px;
    }
}
.h5{
    height: 721px;
    @include mq(laptop){
        height: 561px;
    }
    @include mq(tablet){
        height: 420px;
    }
}
.h6{
    height: 809px;
    @include mq(laptop){
        height: 599px;
    }
    @include mq(tablet){
        height: 450px;
    }
    @include mq(mobile){
        height: 300px;
    }
}