.client{
    @include rfs(80px 0, padding);
    p{
        color: $o-black;
    }
    .client-blk{
        @include rfs(70px , padding-bottom);
        p+p{
            @include rfs(25px , padding-top);
        }
    }
    .talent-blk{
        p{
            @include rfs(20px , padding-top);
        }
    }
    .useen-talent{
        @include mq(phablet){
            padding: 0 12%;
        }
        @include mq(mobile){
            padding: 0%;
        }
        .unseen-talent-img{
            img{
                @include fit-image();
            }
        }
        .row{
            @include rfs(45px , margin-top);
            .col{
                background-color: $light-grey;
                @include border-radius(0 0 103px 0);
                &:first-child{
                    @include border-radius(0);
                    @include flexw(246px);
                    @include mq(tablet){
                        @include flexw(165px);
                    }
                    @include mq(phablet){
                        @include flexw(100%);
                    }
                }
            }
        }
        .unseen-talent-blk{
            @include rfs(28px 120px 40px 32px , padding);
            height: 100%;
            
            span{
                color: $o-black;
                &.sub-head{
                    @include rfs(15px 0 18px 0 , padding);
                    max-width: 340px;
                    &::after{
                        display: none;
                    }
                }
                &.card-head{
                    @include psudeo(){
                        width: 100%;
                        top: unset;
                        right: unset;
                        left: -33px;
                        bottom: -8px;
                        @include rfs(192px , width);
                        height: 3px;
                        background-color: $rose;
                        @include mq(xxxxl){
                            left: -27px;
                        }
                        @include mq(xxl){
                            left: -26px;
                        }
                        @include mq(laptop){
                            left: -24px;
                        }
                        @include mq(tablet){
                            left: -23px;
                        }
                        @include mq(phablet){
                            left: -22px;
                        }
                        @include mq(mobile){
                            left: -19px;
                        }
                    }
                }
            }
        }
    }
    .useen-talent2{
        .row{
            margin-top: 0;
            .row{
                
                @include rfs(45px , margin-top);
                .unseen-talent-blk{
                    @include display-f($jc:end , $align:baseline);
                    flex-direction: column;
                    @include rfs(80px , padding-right);
                }
                .sub-head{
                    padding-bottom: 0;
                }
            }
        }
    }
}