// @import'./aboutus';
.teach{
    .team-cnt{
        @include rfs(30px , padding-top);
        h3{
            color: $o-black;
            @include rfs(30px , padding-bottom);
        }
    }
    .teach-img{
        @include rfs(860px , width);
        @include rfs(75px , padding-left);
        height: auto;
        position: relative;
        img{
            object-fit: contain;
        }
        @include mq(tablet){
            margin: 0 auto;
        }
    }
}
.advance-wrap{
    @include rfs(90% , max-width);
    @include mq(phablet){
        max-width: 100%;
    }
    h3,
    p{
        color: $o-black;
    }
    h3{
        @include rfs(30px , padding-bottom);
    }
    p+p{
        padding-top: 20px;
    }
}
