.main-body{
    @include rfs(400px , padding-left);
    position: relative;
    z-index: 1;
    background-color: $body-color;
    padding-top: 95px;
    @include mq(xxl){
        padding-top: 81px;
    }
    @include mq(tablet){
        padding-left: 130px;
    }
    @include mq(phablet){
        padding-left: 100px;
    }
    @include mq(vsmall){
        padding-top: 72px;
        padding-left: 50px;
    }
    .sidebar{
        &.sidebar2{
            height: 94.5%;
        }
        @include rfs(30px , padding-left);
        @include rfs(30px , padding-right);
        @include box-shadow( 5px 0px 20px 0px rgba(0,0,0,16%));
        @include rfs(400px , width);
        overflow: auto;
        position: absolute;
        height: auto;
        left: 0;
        top: 95px;
        z-index: 2;
        background-color: $white;
        padding-top: 145px;
        @include mq(xxl){
            top: 81px;
        }
        @include mq(laptop){
            padding-top: 123px;
        }
        @include mq(tablet){
            width: 130px; 
            padding-top: 92px;
        }
        @include mq(phablet){
            width: 100px;
        }
        @include mq(vsmall){
            top: 71px;
            width: 50px;
            padding: 83px 10px 0px 10px;
        }
        
        .light-green-blk{
            background-color: $light-green;
            height: 153px;
            position: absolute;
            top: 0;
            width: 100%;
            left: 0;
            z-index: -1;
            @include mq(laptop){
                height: 123px;
            }
            @include mq(tablet){
                height: 110px;
            }
            @include mq(mobile){
                height: 99px;
            }
            @include mq(vsmall){
                height: 93px;
            }
            &.dark-blk{
                background-color: $dark-green-75;
            }
        }
        .fontsize-26{
            padding-top: 21px;
            @include mq(tablet){
                padding-top: 15px;
            }
            @include mq(phablet){
                font-size: 14px;
            }
            @include mq(vsmall){
                display: none;
            }
        }
        .fontsize-18{
            padding-top: 9px;
            @include mq(phablet){
                font-size: 13px;
            }
            @include mq(vsmall){
                display: none;
            }
        }
        .pannel{
            padding-top: 40px;
            padding-bottom: 39px;
            .btn-secondary{
                width: auto;
                @include font-size(20px);
            }
            li{
                cursor: pointer;
                @include display-f($jc:left);
                padding: 26px 0;
                border-top: 1px solid $border-color;
                .dashboard-link-img{
                    max-width: 25px;
                    @include rfs(30px , margin-right);
                    @include mq(tablet){
                        margin: 0 auto;
                        max-width: 45px;
                    }
                    
                    img{
                        @include fit-image($coverd:contain);
                    }
                    &.dashboard-login{
                        max-width: 28px;
                    }
                }
                &:nth-last-child(2){
                    border-bottom: 1px solid $border-color;
                }
                &:last-child{
                    border-top: 0;
                    @include rfs(73px , margin-top);
                }
                .dashboard-link{
                    @include mq(tablet){
                        display: none;
                    }
                }
                .hide-img{
                    display: block;
                }
                &.active{
                    @include psudeo($right:0 , $bottom:unset){
                        width: 6px;
                        height: 34px;
                        background-color: $green;
                        left: -30px;
                        top: 50%;
                        transform: translateY(-50%);
                        -webkit-transform: translateY(-50%);
                        -moz-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        -o-transform: translateY(-50%);
                        @include border-radius(0 3px 3px 0);
                        @include mq(xxxxl){
                            left: -26px;
                        }
                        @include mq(xxl){
                            left: -24px;
                        }
                        @include mq(phablet){
                            left: -19px;
                            width: 5px;
                        }
                        }
                        @include psudeo($loc:before){
                            border-bottom: 2px solid green;
                            border-left: 2px solid green;
                            width: 14px;
                            height: 14px;
                            @include rotate(-135deg);
                            position: absolute;
                            top: 43%;
                            left: unset;
                            right: 30px;
                            @include mq(xxxxl){
                                width: 11px;
                                height: 11px;
                                right: 6px;
                            }
                            @include mq(xxl){
                                right: -11px;
                            }
                            @include mq(phablet){
                                right: 0;
                            }
                            @include mq(vsmall){
                                display: none;
                            }
                            }
                            .dashboard-link{
                                color: $green;
                            }
                            .hide-img{
                                display: none;
                            }
                            .display-none{
                                display: block;
                            }
                }
                &:hover{
                    .dashboard-link{
                        color: $green;
                    }
                }
            }
        }
    }
    .lower-header{
        @include display-f($jc:space-between);
        @include rfs(13px 50px , padding);
        background-color: $white;
        @include box-shadow(0px 3px 6px 0px rgba(0,0,0,16%));
        @include mq(tablet){
            padding: 10px;
        }
        span{
            color: $dark-green;
        }
        .fontsize-24{
            @include mq(mobile){
                font-size: 14px;
            }
        }
        .edit-blk{
            .fontsize-18{
                color: $green;
                text-decoration: underline ;
                &:hover{
                    color: $dark-green;
                }
                img{
                    width: 22px;
                    object-fit: contain;
                    height: auto;
                    margin-right: 10px;
                }
            }
            p{
                &.fontsize-16{
                    color: $table-cnt-color;
                    @include mq(vsmall){
                        font-size: 0;
                    }
                }
                span.fontsize-16{
                    display: inline-block;
                    padding-left: 44px;
                    color: $table-cnt-color;
                    &.message-after::after{
                    right: unset;
                    left: 7px;
                    content: "2";
                    @include mq(mobile){
                        top: 50%;
                    }
                    }
                }
            }
        }
    }
    .main-content{
        &.main-cnt-2{
            display: block !important;
        }
        @include rfs(31px 50px 0 50px , padding);
        .control-pannel-cnt{
            &.control-pannel-cnt2{
                margin-top: 20px;
                &.control-pannel-cnt4{
                    @include rfs(103px , margin-bottom);
                }
            }
            .alert-cnt-blk{
                margin: 0 -.69%;
            }
            .alert-cnt{
                @include rfs(38px 27px 32px 27px , padding);
                background-color: $white;
                @include border-radius(20px);
                @include flexw(56.94%);
                margin: 0 .69%;
                @include mq(xxl){
                    @include flexw(100%);
                    margin: 0;
                    margin-top: 20px;
                }
                &.latest-offer{
                    @include flexw(100%);
                    margin: 0;
                    &.message-cnt{
                        padding-top: 10px;
                    }
                }
                & .certification{
                    @include rfs(26px , padding-top);
                    color: $table-cnt-color;
                    & .training{
                        display: inline-block;
                        color: $green;
                    }
                }
                &.summery{
                    @include flexw(100% - 59.94%);
                    @include mq(xxl){
                        @include flexw(100%);
                    }
                    &.bacground-color-none{
                        padding: 0;
                    }
                }
                .course-body{
                    @include rfs(67px , padding-top);
                    .courses-blk{
                        @include display-f();
                        padding-top: 20px;
                        .course-img{
                            margin-right: 20px;
                        }
                        img{
                            @include fit-image($coverd:contain); 
                        }
                    }
                    .course-body-after{
                        @include psudeo(){
                            left: unset;
                            width: 1px;
                            height: 100%;
                            background-color: $table-border-color;
                        }
                    }
                }
                .latest-alert-cnt{
                    @include rfs(26px , padding-bottom);
                    border-bottom: 1px solid $green-50;
                    align-items: center;
                    &.open-cnt{
                        border-bottom: 0;
                        padding-bottom: 0;
                        margin: 0 -10px !important;
                        .col-lg-6{
                            padding: 0 10px;
                        }
                        .open-cnt-body{
                            @include rfs(38px 17px 24px 17px , padding);
                            background-color: $white;
                            @include border-radius(20px);
                            .bag{
                                @include flexw(54px);
                                height: 54px;
                                background-color: $light-green;
                                @include border-radius(50%);
                                margin: 0 auto;
                                @include mq(xxxxl){
                                    @include flexw(38px);
                                    height: 38px;
                                }
                                @include mq(xxl){
                                    @include flexw(28px);
                                    height: 28px;
                                }
                                img{
                                    @include fit-image($coverd:contain);
                                    max-width: 30px;
                                    margin: 0 auto;
                                    display: flex;
                                    @include mq(xxxxl){
                                        max-width: 20px;
                                    }
                                    @include mq(xxl){
                                        max-width: 14px;
                                    }
                                }
                            }
                            .open-cnt-blk {
                                border-top: 1px solid $green-50;
                                margin-top: 26px;
                                padding-top: 30px;
                                @include mq(xxxxl){
                                    .fontsize-80{
                                        font-size: 50px;
                                        @include mq(xxl){
                                            font-size: 43px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &.latest-alert-week-cnt{
                        @include rfs(18px , padding-bottom);
                    }
                    .fontsize-24{
                        @include text-align(left);
                        color: $green;
                        display: inline-block;
                        span{
                            color: $dark-green;
                        }
                    }
                    .fontsize-16{
                        text-decoration: underline;
                        @include tranistions-;
                        &:hover{
                            color: $dark-green;
                        }
                    }
                }
                .table{
                    margin-top: 16px;
                    thead{
                        th{
                            width: 317px;
                            padding: 10px 20px;
                            &:nth-child(2){
                                width: 230px;
                            }
                        }
                        border-bottom: 1px solid $table-border-color;
                    }
                    tbody{
                            tr{
                                &.table_1{
                                    td{
                                        padding-left: 20px;
                                        padding-right: 20px;
                                    }
                                    th{
                                        width: 317px;
                                        padding: 5px 0;
                                        @include display-f($jc:left);
                                    }
                                    &.table_2{
                                        td{
                                            padding-top: 15px;
                                        }
                                        th{
                                            padding-top: 15px;
                                        }
                                    }
                                }
                                th{
                                    width: 270px;
                                    padding: 10px 0;
                                    @include display-f($jc:left);
                                }
                                td{
                                    display: table-cell;
                                    vertical-align: middle;
                                    &.td-width{
                                        width: auto !important;
                                    }
                                    &:first-child{
                                        width: 200px;
                                    }
                                    &:nth-child(2){
                                        width: 177px;
                                    }
                                    @include mq(xxxxl){
                                        white-space: nowrap;
                                        padding-left: 20px;
                                        padding-right: 20px;
                                    }
                                }
                            }
                    }
                }
            }
        }
    }
    
}
.apply{
    display: block;
    @include font-size(14px);
    background-color: $body-color;
    color: $dark-green-50;
    @include tranistions-;
    max-width: 192px;
    padding: 10px;
    @include text-align();
    @include border-radius(6px);
    &:hover{
        background-color: $green;
        color: $white;
    }
}
.apply-2{
    @extend .apply;
    border: 1px solid transparent;
    background-color: $green;
    color: $white;
    width: 150px;
    @include mq(xxl){
        width: 118px;
    }
    &:hover{
        background-color: transparent;
        color: $green;
        border-color: $green;
    }
}
.apply-3{
    @extend .apply-2;
    @extend .apply;
    @include font-size(20px);
    font-weight: 500;
    max-width: 337px;
    width: 100%;
    @include rfs(37px , margin-top);
}
.apply-4{
    @extend .apply;
    @extend .apply-2;
    @extend .apply-3;
    max-width: 100%;
}
.apply-5{
    @extend .apply-3;
    margin-top: 15px;
    background-color: $green;
}
.apply-6{
    @extend .apply;
    @extend .apply-2;
    @extend .apply-3;
    @extend .apply-4;
    background-color: transparent;
    border-color: $green;
    color: $green;
}
.apply-7{
    @extend .apply;
    @extend .apply-2;
    @extend .apply-3;
    background-color: $red;
    &:hover{
        border-color: $red;
        color: $red;
    }
}
.apply-8{
    @extend .apply;
    max-width: 100%;
    @include font-size(20px);
    font-weight: 500;
}
.circle-img{
    @include flexw(70px);
    margin-right: 12px;
    height: 70px;
    @include display-f;
    @include border-radius(50%);
    border: 1px solid $green;
    &.list-icon{
        @include flexw(90px);
        height: 90px;
        width: 100%;
        @include mq(xxl){
            height: 70px;
        }
        @include mq(laptop){
            max-width: 70px;
        }
        @include mq(tablet){
            max-width: 62px;
            height: 62px;
        }
    }
    &.circle-img-chat{
        background-color: $white;
        max-width: 54px;
        height: 54px;
        margin-right: 0;
        @include mq(phablet){
            max-width: 40px;
            height: 40px;
        }
        @include mq(vsmall){
            max-width: 20px;
            height: 20px;
        }
        img{
            max-width: 40px;
            @include mq(phablet){
                max-width: 30px;
            }
            @include mq(vsmall){
                max-width: 15px;
            }
        }
    }
    &.circle-img-message{
        @include rfs(35px , margin-right);
    }
    &.circle-img-lg{
        max-width: 145px;
        height: 145px;
        @include rfs(27px , margin-bottom);
        @include mq(xxxxl){
            max-width: 120px;
            height: 120px;
        }
        @include mq(tablet){
            max-width: 90px;
            height: 90px;
        }
        img{
            max-width: 100px;
            @include mq(xxxxl){
                max-width: 80px;
            }
            @include mq(tablet){
                max-width: 60px;
            }
        }
    }
    @include mq(xxxxl){
        max-width: 50px;
        flex-basis: 50px;
        height: 50px;
    }
    @include mq(vsmall){
        max-width: 40px;
        flex-basis: 40px;
        height: 40px;
    }
    img{
        @include fit-image($coverd:contain);
        max-width: 54px;
        @include mq(xxxxl){
            max-width: 40px;
        }
        @include mq(vsmall){
            max-width: 30px;
        }
    }
}