.offers-blk{
    @include rfs(108px , padding-bottom);
    .sort-blk{
        @include display-f($jc:left);
        @include mq(laptop){
            flex-wrap: wrap
        }
        li{
            @include flexw(248px);
            @include rfs(30px ,margin-right);
            @include mq(xxl){
                @include flexw(205px);
            }
            @include mq(laptop){
                @include flexw(48%);
                &:nth-child(2n){
                    margin-right: 0;
                }
                margin-top: 10px;
            }
            @include mq(phablet){
                @include flexw(47.7%);
            }
            @include mq(mobile){
                @include flexw(100%);
                margin-right: 0;
            }
            .custom-select{
                .select-selected{
                    @include font-size(14px);
                    border: 0;
                    background-color: $white;
                    @include border-radius(10px);
                }
                .select-items{
                    top: 50px;
                }
            }
            &:last-child{
                margin-right: 0;
            }
            &.last-sort{
                @include flexw(220px);
            }
        }
    }

}
.sort-list{
    padding-top: 34px;
    li{
        &.sort-li{
        @include rfs(17px 34px 19px 17px , padding);
        background-color: $white;
        @include border-radius(10px);
        @include rfs(20px , margin-top);
        &:first-child{
            margin-top: 0;
        }
        }
        
    }
    .sort-list-cnt{
        @include flexw(9%);
        @include mq(xxxxl){
            @include flexw(12%);
        }
        @include mq(xxl){
            @include flexw(11%);
        }
        @include mq(laptop){
            @include flexw(100%);
        }
    }
    .days{
        @include display-f($jc:left);
        @include mq(mobile){
            flex-direction: column;
            align-items: flex-start;
        }
        li{
            margin-right: 10px;
            &:last-child{
                margin-right: 0;
                &::after{
                    display: none;
                }
            }
            @include psudeo(){
                left: unset;
                width: 2px;
                height: 14px;
                top: 50%;
                @include transformx(0 , -50%);
                background-color: $table-cnt-color;
                right: -7px;
            }
            .flag{
                width: 24px;
                height: auto;
                object-fit: contain;
            }
        }
    }
    .positions{
        @include flexw(65%);
        @include mq(xxxxl){
            @include flexw(62%);
        }
        @include mq(xxl){
            @include flexw(55%);
        }
        @include mq(laptop){
            @include flexw(100%);
        }
        p{
            color: $table-cnt-color;
        }
        p.fontsize-18{
            padding-top: 2px;
            @include text-align(left);
            padding-bottom: 8px;
        }
    }
    .deals-blk{
        @include flexw(26%);
        @include mq(xxl){
            @include flexw(33%);
        }
        @include mq(laptop){
            @include flexw(100%);
        }
        @include display-f($jc:right, $align:flex-end);
        .deals{
            @include display-f($jc:unset, $align:unset);
            li{
                @include display-f();
                @include rfs(41px , margin-right);
                &:last-child{
                    margin-right: 0;
                }
                .greens{
                    text-decoration: underline;
                    &:hover{
                        color: $dark-green;
                    }
                } 
            }
            &.deals-col-rev{
                height: 100%;
                flex-direction: column-reverse;
                justify-content: space-between;
                @include mq(laptop){
                    flex-direction: revert;
                }
                li{
                    margin-right: 0;
                    justify-content: right;
                    @include mq(laptop){
                        margin-right: 30px;
                        justify-content: revert;
                    }
                    span{
                        &.tick{
                            &::after{
                                @include mq(mobile){
                                    width: 10px;
                                    height: 10px;
                                }
                            }
                            
                        }
                    }
                    
                }
            }
        }
    }
}
.midfield-blk{
    margin-top: 18px;
    @extend .offers-blk;
    .row{
        &.r1{
            margin: 0 -0.70%;
            .midfield-left-cnt{
                @include border-radius(10px);
                background-color: $white;
                @include rfs(21px 55px 78px 49px , padding);
                @include flexw(65.19%);
                margin: 0 0.70%;
                @include mq(xxl){
                    @include flexw(100%);
                    
                }
            }
            .midfield-right-cnt{
                @include flexw(100% - 68.19%);
                margin: 0 0.70%;
                padding: 0;
                @include mq(xxl){
                    @include flexw(100%);
                    margin-top: 20px;
                }
                .midfield-type-cnt{
                    @include border-radius(10px);
                    background-color: $white;
                    @include rfs(42px 34px 33px 34px , padding);
                    .image-cnt{
                        @include flexw(22%);
                        padding: 0;
                        @include mq(xxxxl){
                            @include flexw(30%);
                        }
                        @include mq(xxl){
                            @include flexw(8%);
                        }
                        @include mq(laptop){
                            @include flexw(10%);
                        }
                        @include mq(tablet){
                            @include flexw(11%);
                        }
                        @include mq(phablet){
                            @include flexw(16%);
                        }
                        @include mq(mobile){
                            @include flexw(20%);
                        }
                        @include mq(mobile){
                            @include flexw(100%);
                            margin-bottom: 15px;
                        }
                    }
                    .midfield-content{
                        @include flexw(78%);
                        padding-left: 10px;
                        @include mq(xxxxl){
                            @include flexw(70%);
                        }
                        
                        
                    }
                }
            }
        }
        
    }
    .football-league{
        @include rfs(27px , padding-top);
        li{
            margin-top: 10px;
            padding-left: 16px;
            &:first-child{
                margin-top: 0;
            }
            @include psudeo(){
                right: unset;
                bottom: unset;
                width: 9px ;
                height: 9px;
                background-color: $green;
                @include border-radius(50%);
                top: 50%;
                @include transformx(0 , -50%);

            }
        }
    }
    .requirements{
        padding-top: 15px;
        li{
            @include rfs(27px , padding-top);
            &:first-child{
                padding-top: 0;
            }
            span,
            p{
                color: $table-cnt-color;
            }
            .replace{
                color: $dark-green;
            }
        }
    }
    .description{
        @include rfs(40px , padding-bottom);
    }
    .share{
        @include rfs(30px , margin-top);
        @include rfs(50px , padding);
        background-color: $dark-green;
        @include border-radius(10px);
        .fontsize-20-white{
            @include text-align();
        }
        &.catagory{
            background-color: $white;
            @include rfs(35px 27px 40px 27px , padding);
            span{
            &.fontsize-18{
                color: $dark-green;
            }
            }
            p{
                &.fontsize-18{
                    color: $table-cnt-color;
                }
            }
        }
    }
    .social-icons{
        @include display-f;
        @include rfs(25px , padding-top);
        li{
            @include rfs(20px , padding-right);
            &:last-child{
                padding-right: 0;
            }
            a{
                @include rfs(42px , max-width);
                display: block;
                img{
                    @include fit-image($coverd:contain);
                }
            }
        }
    }
}