.profile-blk{
    background-color: $white;
    @include border-radius(20px);
    @include rfs(29px 47px 18px 47px , padding);
    .profile-left-cnt{
        @include flexw(15%);
        @include mq(phablet ){
            @include flexw(100%);

        }
    }
    .profile-right-cnt{
        @include flexw(100% - 15%);
        @include mq(phablet ){
            @include flexw(100%);
            padding-top: 20px;
            @include text-align();
        }
        .row{
            padding-top: 18px;
        }
        .soccer-cnt{
            @include mq(phablet){
                padding-top: 15px;
                padding-left: 0;
                padding-right: 0;
            }
            span,
            a{
                @include text-align(left);
                padding-top: 7px;
                @include mq(phablet){
                    @include text-align();
                }
                img{
                    display: inline-block;
                    max-width: 25px;
                    object-fit: contain;
                    margin-right: 13px;
                }
            }
            a:hover{
                color: $green;
            }
        }
        
    }
    .profile-left-cnt-img{
        @include rfs(122px , max-width);
        @include mq(phablet){
            margin: 0 auto;
        }
        img{
            @include fit-image($coverd:contain);
        }
    }
    .pdl-1{
        padding-left: 200px;
        @include mq(xxxxl){
            padding-left: 100px;
        }
        @include mq(xxl){
            padding-left: 0px;
        }
    }
}
.country-color{
    color: $table-cnt-color;
    padding: 18px 0;
}
.table2{
    tr{
        td{
            &:nth-child(2){
                width: 300px !important;
            }
        }
        .transfer-link{
            text-decoration: underline;
            padding: 18px 0;
            @include tranistions-;
            &:hover{
                color: $dark-green;
            }
        }
    }
}
.pagination{
    padding-top: 10px;
    li{
        margin-right: 15px;
        .page-link{
            padding: 0;
            background-color: transparent;
            border: 0;
            padding-left: 15px;
            text-decoration: underline;
            &:hover{
                color: $dark-green;
                text-decoration: underline;
            }
            @include psudeo(){
                right: unset;
                bottom: 0;
                top: 2px;
                left: 2px;
                content: "<";
            }
        }
    }
}
.profile-edit-blk{
    background-color: $white;
    @include rfs(20px , margin-top);
    @include border-radius(20px);
    @include rfs(60px 28px 82px 27px , padding);
    @include rfs(40px , margin-bottom);
    .edit-cnt-left{
        @include flexw(26%);
        @include mq(mobile){
            @include flexw(100%);
            padding-bottom: 15px;
        }
    }
    .edit-cnt-right{
        @include flexw(100% - 26%);
        @include rfs(30px , padding-left);
        @include mq(mobile){
            @include flexw(100%);
            
        }
    }
.row{
    &.row-profile{
        @include rfs(0 -37px , margin);
        .col-xl-6{
            @include rfs(0 37px , padding);
            .input-cnt{
                position: relative;
                &:last-child{
                    padding-bottom: 0;
                }
                &.input-cnt-1{
                    @include rfs(24px , padding-bottom);
                }
            }
        }
    }
}
}
.button-blk{
    @include display-f($jc:left);
    margin-bottom: 70px;
    a{
        font-weight: 600;
        border: 1px solid transparent;
        &.fontsize-18{
            padding: 13px 30px;
            background-color: $green;
            margin-right: 20px;
            @include border-radius(10px);
            color: $white;
            &.cancel{
                background-color:$table-cnt-color ;
                &:hover{
                    color: $table-cnt-color;
                    border-color: $table-cnt-color;
                    background-color: transparent;
                }
            }
        }
        &:hover{
            background-color: transparent;
            color: $green;
            border-color: $green;

        }
    }
}