$white:#ffffff;
$blue:#022E51;
$light-blue:#00BCE7;
$hcolor:#3CCDEF;
$orange:#CB2727;
$light-orange:#F57626;
$btn-color:#031E34;
$light-white:#F9F9F9;
$border-color:#BEBEBE;
$input-color:#888888;